<div id="content-header">
  <header>
    <h1>Edit Customer</h1>
  </header>
</div>

<div id="content-navigation">
  <%= render_breadcrumbs @conn %>
</div>

<div id="content">
  <%= render_flash_notifications @conn %>
  <%= render_event_log_notifications @conn, "Customer", @customer.id %>
  <%= render "form.html", Map.put(assigns, :action, Routes.customer_path(@conn, :update, @customer)) %>
</div>
