<div id="content-header">
  <header>
    <h1>New Customer</h1>
  </header>
</div>

<div id="content-navigation">
  <%= render_breadcrumbs @conn %>
</div>

<div id="content">
  <%= render_flash_notifications @conn %>
  <%= render "form.html", Map.put(assigns, :action, Routes.customer_path(@conn, :create)) %>
</div>
