<div id="content-header">
  <header>
    <h1>Edit Comment</h1>
  </header>
</div>

<div id="content-navigation">
  <%= render_breadcrumbs @conn %>
</div>

<div id="content">
  <%= render_flash_notifications @conn %>

  <%=
    comment_form_assigns = assigns
      |> Map.put(:action, Routes.incident_comment_path(@conn, :update, @incident, @comment))
      |> Map.put(:changeset, @changeset)

    render ArtemisWeb.CommentView, "form.html", comment_form_assigns
  %>
</div>
