<div id="content-header">
  <header>
    <h1>New Job</h1>
  </header>
</div>

<div id="content-navigation">
  <%= render_breadcrumbs @conn %>
</div>

<div id="content">
  <%= render_flash_notifications @conn %>

  <%=
    form_assigns = Map.put(assigns, :action, Routes.job_path(@conn, :create))

    render "form.html", form_assigns
  %>
</div>

