<%= render "show/_header.html", assigns %>

<div id="content-navigation">
  <%= render_breadcrumbs @conn %>
  <%= render_presence @conn %>
</div>

<div id="content">
  <%= render "show/_notifications.html", assigns %>

  <section>
    <%= Phoenix.LiveView.Helpers.live_render @conn, ArtemisWeb.JobLive, session: %{"job" => @job} %>
  </section>
</div>
