<div id="content-header">
  <header>
    <h1>Edit Tag</h1>
  </header>
</div>

<div id="content-navigation">
  <%= render_breadcrumbs @conn %>
</div>

<div id="content">
  <%= render_flash_notifications @conn %>
  <%= render_event_log_notifications @conn, "Tag", @tag.id %>
  <%= render "form.html", Map.put(assigns, :action, Routes.tag_path(@conn, :update, @tag)) %>
</div>
