<%= render "show/_header.html", assigns %>

<div id="content-navigation">
  <%= render_breadcrumbs @conn %>
  <%= render_presence @conn %>
</div>

<div id="content">
  <%= render_flash_notifications @conn %>
  <%= render_event_log_notifications @conn, "Team", @team.id %>

  <section>
    <%= render_event_log_details @conn, @event_log %>
  </section>
</div>
