<div id="content-header">
  <header>
    <h1>Edit Feature</h1>
  </header>
</div>

<div id="content-navigation">
  <%= render_breadcrumbs @conn %>
  <%= render_presence @conn %>
</div>

<div id="content">
  <%= render_flash_notifications @conn %>
  <%= render_event_log_notifications @conn, "Feature", @feature.id %>

  <section>
    <%= render "form.html", Map.put(assigns, :action, Routes.feature_path(@conn, :update, @feature)) %>
  </section>
</div>
