<div id="content-header">
  <header>
    <h1>Edit Documentation Page</h1>
  </header>
</div>

<div id="content-navigation">
  <%= render_breadcrumbs @conn %>
</div>

<div id="content">
  <%= render_flash_notifications @conn %>
  <%= render_event_log_notifications @conn, "WikiPage", @wiki_page.id %>
  <%= render "form.html", Map.put(assigns, :action, Routes.wiki_page_path(@conn, :update, @wiki_page)) %>
</div>
