<%= if @event_received_at do %>
  <div class="ui message small notification event-log-notification">
    <div class="content">
      <p>
        <%= render_reload_action(color: "blue", label: "Refresh Page", size: "tiny") %> <%= @event_received_by %> updated record at <%= render_time(@event_received_at) %>.
      </p>
    </div>
  </div>
<% end %>
