<div id="content-header">
  <header>
    <h1>
      <%= @event_log.action %>
    </h1>
  </header>
</div>

<div id="content-navigation">
  <%= render_breadcrumbs @conn %>
  <%= render_presence @conn %>
</div>

<div id="content">
  <%= render_flash_notifications @conn %>

  <section>
    <%= render_event_log_details @conn, @event_log %>
  </section>
</div>
