<div id="content-header">
  <header>
    <h1>Edit Key Value</h1>
  </header>
</div>

<div id="content-navigation">
  <%= render_breadcrumbs @conn %>
  <%= render_presence @conn %>
</div>

<div id="content">
  <%= render_flash_notifications @conn %>
  <%= render_event_log_notifications @conn, "Key Value", @key_value.id %>

  <%= render_form_warning() %>

  <section>
    <%= render "form.html", Map.put(assigns, :action, Routes.key_value_path(@conn, :update, @key_value)) %>
  </section>
</div>
