<%=
  render_data_table(
    @conn,
    @key_values.entries,
    allowed_columns: data_table_allowed_columns(),
    default_columns: ["id", "key", "size", "inserted_at", "updated_at", "expire_at", "actions"]
  )
%>
