<main role="main" id="login">
  <section>
    <h1>
      <i class="map marker alternate icon"></i>Artemis
    </h1>
    <ul class="providers">
      <%= for provider <- list_auth_providers(@conn) do %>
        <li>
          <%= action provider.title, to: provider.link, color: "gray", size: "medium" %>
        </li>
      <% end %>
    </ul>
  </section>
</main>
