<div id="content-header">
  <header>
    <h1>Edit Data Center</h1>
  </header>
</div>

<div id="content-navigation">
  <%= render_breadcrumbs @conn %>
  <%= render_presence @conn %>
</div>

<div id="content">
  <%= render_flash_notifications @conn %>
  <%= render_event_log_notifications @conn, "DataCenter", @data_center.id %>

  <section>
    <%= render "form.html", Map.put(assigns, :action, Routes.data_center_path(@conn, :update, @data_center)) %>
  </section>
</div>
