<%= render_flash_notifications @conn %>
<%= render_event_log_notifications @conn, "Machine", @machine.id %>
<%= render_comment_notifications @conn, "Machine", @machine.id, Routes.machine_comment_path(@conn, :index_comment, @machine) %>
