<div id="content-header">
  <header>
    <h1>On Call</h1>
  </header>
</div>

<div id="content-navigation">
  <%= render_breadcrumbs @conn %>
  <%= render_presence @conn %>
</div>

<div id="content">
  <%= render_flash_notifications @conn %>

  <article id="on-call-page" class="page">
    <%= render_pager_duty_live(@conn) %>
  </article>
</div>
