<%= render "show/_header.html", assigns %>

<div id="content-navigation">
  <%= render_breadcrumbs @conn %>
  <%= render_presence @conn %>
</div>

<div id="content">
  <%= render "show/_notifications.html", assigns %>

  <section>
    <%= h2 "Details" %>
    <%=
      render_key_value_list([
        ["Title", @event_template.title],
        ["Active", @event_template.active],
        ["Team", ArtemisWeb.TeamView.render_show_link(@conn, @event_template.team)]
      ])
    %>
  </section>
</div>
