<%= render_flash_notifications @conn %>
<%= render_event_log_notifications @conn, "Cloud", @cloud.id %>
<%= render_comment_notifications @conn, "Cloud", @cloud.id, Routes.cloud_comment_path(@conn, :index_comment, @cloud) %>
