<%= render_flash_notifications @conn %>
<%= render_event_log_notifications @conn, "Customer", @customer.id %>
<%= render_comment_notifications @conn, "Customer", @customer.id, Routes.customer_comment_path(@conn, :index_comment, @customer) %>
