<Layouts.app flash={@flash} current_scope={@current_scope}>
  <.header>
    Listing Customers
    <:actions>
      <.button variant="primary" navigate={~p"/customers/new"}>
        <.icon name="hero-plus" /> New Customer
      </.button>
    </:actions>
  </.header>

  <.table
    id="customers"
    rows={@streams.customers}
    row_click={fn {_id, customer} -> JS.navigate(~p"/customers/#{customer}") end}
  >
    <:col :let={{_id, customer}} label="Name">{customer.name}</:col>
    <:col :let={{_id, customer}} label="Notes">{customer.notes}</:col>
    <:action :let={{_id, customer}}>
      <div class="sr-only">
        <.link navigate={~p"/customers/#{customer}"}>Show</.link>
      </div>
      <.link navigate={~p"/customers/#{customer}/edit"}>Edit</.link>
    </:action>
    <:action :let={{id, customer}}>
      <.link
        phx-click={JS.push("delete", value: %{id: customer.id}) |> hide("##{id}")}
        data-confirm="Are you sure?"
      >
        Delete
      </.link>
    </:action>
  </.table>
</Layouts.app>
