<div id="content-header">
  <header>
    <h1>Edit Shared Job</h1>
  </header>
</div>

<div id="content-navigation">
  <%= render_breadcrumbs @conn %>
</div>

<div id="content">
  <%= render_flash_notifications @conn %>

  <%=
    form_assigns =
      assigns
      |> Map.put(:action, Routes.shared_job_path(@conn, :update, @job._id))
      |> Map.put(:method, "put")

    render "form.html", form_assigns
  %>
</div>
