<%= form_for @changeset, @action, [class: "ui form", id: "shared-job-form", method: @method || "post"], fn f -> %>
  <div class="field">
    <%= label_with_errors f, :raw_data, "JSON Data" %>
    <%= textarea f, :raw_data, value: Jason.encode!(f.data.raw_data, pretty: true) %>
  </div>

  <div>
    <%= if @changeset.action do %>
      <%= render_notification :error, body: "Error Submitting Form" %>
    <% end %>

    <%= submit "Save", class: "ui button primary" %>
  </div>
<% end %>
