<%= if @async_render_type == :page do %>

  <%= Phoenix.View.render(@module, @template, assigns) %>

<% else %>

  <%= async_render_when_loaded(assigns) do %>

    <%= Phoenix.View.render(@module, @template, assigns) %>

  <% end %>

<% end %>
