<ul class="breadcrumbs">
 <%= for [title, key] <- @breadcrumbs do %>
    <li>
      <a href="<%= key %>" class="section">
        <%= if key == "/" do %>
          <i class="home icon"></i>
        <% end %>
        <%= title %>
      </a>
    </li>
  <% end %>
</ul>
