<div id="chart-<%= @chart_id %>" class="chart"></div>

<script>
  var chart_selector = document.querySelector("#chart-<%= @chart_id %>");
  var chart = new ApexCharts(chart_selector, <%= @chart_options %>);

  chart.render();
</script>
