<%= form_for @conn, "", [class: "ui form data-table-columns"], fn f -> %>
  <div class="<%= @class %>">
    <%=
      multiple_select(
        f,
        :columns,
        @available,
        class: "enhanced data-table-columns search",
        placeholder: "Custom Columns",
        selected: @selected
      )
    %>
  </div>
<% end %>
