<%= form_for ArtemisWeb.Endpoint, "", [class: "ui form data-table-columns"], fn f -> %>
  <div class="<%= @class %>" id="data-table-columns" phx-hook="ColumnFields">
    <%=
      multiple_select(
        f,
        :columns,
        @available,
        class: "enhanced data-table-columns search",
        placeholder: "Custom Columns",
        selected: @selected
      )
    %>
  </div>
<% end %>
