<span class="on-call-person">
  <span class="separator">/</span>
  On-Call
  <ul>
    <%= if length(@people) > 0 do %>
      <%= Enum.map @people, fn (person) -> %>
        <li>
          <%= link(person, to: Routes.on_call_path(@conn, :index)) %>
        </li>
      <% end %>
    <% else %>
      <li>
        <%= link("Unknown", to: Routes.on_call_path(@conn, :index)) %>
      </li>
    <% end %>
  </ul>
</span>
