<div class="presence-dropdown-container">
  <a href="#presence-users" class="ui dropdown hover ui">
    <i class="users icon"></i>
    <%= length(@current_path) %> Viewing
    <div class="menu">
      <div class="header">
        Viewing Current Page
      </div>
      <%= Enum.map @current_path, fn user -> %>
        <div class="item">
          <%= user.name %>
        </div>
      <% end %>
      <div class="header">
        Total Online <%= @total %>
      </div>
    </div>
  </a>
</div>
