<Layouts.page_header title={Gettext.gettext(ArtemisWeb.Gettext, @page_title)} />

<Layouts.page_content>
  <ArtemisWeb.Breadcrumbs.breadcrumbs uri={@uri} />
  <ArtemisWeb.CustomersLive.Components.Form.form params={@resource} />
</Layouts.page_content>
