<Layouts.page_header title={Gettext.gettext(ArtemisWeb.Gettext, @page_title)}>
  <:actions>
    <.button variant="primary" navigate={~p"/customers/new"}>
      <.icon name="hero-plus" /> New
    </.button>
  </:actions>
  <:tabs>
    <Layouts.header_tab href={~p"/customers"} label="Overview" active />
    <Layouts.header_tab href="#" label="Event Logs" />
  </:tabs>
</Layouts.page_header>

<Layouts.page_content>
  <ArtemisWeb.Breadcrumbs.breadcrumbs uri={@uri} />

  <.header>
    {gettext("Customers")}
  </.header>

  <Slab.table id="customers" schema={Artemis.Customer} uri={@uri} params={@params}>
    <:tab name="filters" />
    <:tab name="columns" />
    <:tab name="export" />
    <:tab name="share" />

    <:filter field={:name} />

    <:column_checkbox />
    <:column field={:name} sortable />
    <:column :let={resource} label="Actions">
      <.link navigate={~p"/customers/#{resource}"}>{gettext("View")}</.link>
      <.link navigate={~p"/customers/#{resource}/edit"}>{gettext("Edit")}</.link>
    </:column>

    <:pagination mode={:page} />
  </Slab.table>
</Layouts.page_content>
