<Layouts.app flash={@flash} current_scope={@current_scope}>
  <.header>
    Listing Customers
    <:actions>
      <.button variant="primary" navigate={~p"/customers/new"}>
        <.icon name="hero-plus" /> New Customer
      </.button>
    </:actions>
  </.header>

  <.table
    id="customers"
    rows={@streams.resources}
    row_click={fn {_id, resource} -> JS.navigate(~p"/customers/#{resource}") end}
  >
    <:col :let={{_id, resource}} label="Name">{resource.name}</:col>
    <:col :let={{_id, resource}} label="Notes">{resource.notes}</:col>
    <:action :let={{_id, resource}}>
      <div class="sr-only">
        <.link navigate={~p"/customers/#{resource}"}>Show</.link>
      </div>
      <.link navigate={~p"/customers/#{resource}/edit"}>Edit</.link>
    </:action>
    <:action :let={{id, resource}}>
      <.link
        phx-click={JS.push("delete", value: %{id: resource.id}) |> hide("##{id}")}
        data-confirm="Are you sure?"
      >
        Delete
      </.link>
    </:action>
  </.table>
</Layouts.app>
