/* === Background Color Gradient Animation === */

@-webkit-keyframes GradientAnimation {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}

@-moz-keyframes GradientAnimation {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}

@keyframes GradientAnimation {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}

/* Code Examples */

// background: linear-gradient(90deg, #8f75da 0, #727cf5 100%);
// background: linear-gradient(-18deg, #101018 0, #38383D 100%);

// background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
// background-size: 400% 400%;

// background: linear-gradient(270deg, #ba54f5, #727cf5, #ba54f5);
// background: linear-gradient(270deg, #ba54f5, #727cf5, #54a5f5);
// background-size: 600% 600%;

// -webkit-animation: GradientAnimation 15s ease infinite;
// -moz-animation: GradientAnimation 15s ease infinite;
// animation: GradientAnimation 15s ease infinite;

/* === Bouncing Loader in Pure CSS === */

@keyframes bouncing-loader {
  to {
    opacity: 0.1;
    transform: translate3d(0, -1rem, 0);
  }
}

.bouncing-loader {
  display: flex;
  justify-content: center;
}

.bouncing-loader > div {
  width: 1rem;
  height: 1rem;
  margin: 3rem 0.2rem;
  background: #8385aa;
  border-radius: 50%;
  animation: bouncing-loader 0.6s infinite alternate;
}

.bouncing-loader > div:nth-child(2) {
  animation-delay: 0.2s;
}

.bouncing-loader > div:nth-child(3) {
  animation-delay: 0.4s;
}

/* === Underline Animation on Links === */

#primary-footer a,
.hover-underline-animation {
  display: inline-block;
  position: relative;
}

#primary-footer a::after,
.hover-underline-animation::after {
  background-color: $blue_muted;
  bottom: 0;
  content: '';
  height: 1px;
  left: 0;
  position: absolute;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 150ms ease-out;
  width: 100%;
}

#primary-footer a:hover::after,
.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
