/* === General Styles === */

table th a {
  color: #333;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

pre {
  overflow-x: auto;

  code {
    color: #666;
  }
}

ul {
  list-style: disc;
  padding: 0 0 0 1.5rem;

  p {
    margin-bottom: 0 !important;
  }

  ul {
    list-style: disc;
  }
}

ol {
  padding: 0 0 0 1.5rem;

  p {
    margin-bottom: 0 !important;
  }
}

select[multiple] {
  opacity: 0.1;
  max-height: 1em !important;
}

/* === General Classes === */

.label-with-errors {

  i {
    display: none;
  }

  &.error {
    color: #9f3a38 !important;

    i.red.icon {
      color: #9f3a38 !important;
      display: inline-block;
      margin-right: 0 !important;
      opacity: 0.8;
    }
  }
}

.data-table {
  border-collapse: collapse;
  margin: 1.5rem 0;
  text-align: left;
  width: 100%;

  thead {

    tr {
      border-bottom: 2px solid $blue-muted;

      th {
        margin: 0;
        padding: 0 0.25rem 1rem 0.25rem;

        &.checkbox {
          justify-content: center;
          padding-left: 0.5rem;
          padding-right: 1.5rem;
          white-space: nowrap;
          width: 1px;
        }
      }
    }
  }

  tbody {

    tr {
      border-bottom: 1px solid #e2e2e2;

      &:hover {
        background: #f5fbff;
        border-bottom: 1px solid #bcd3e2;
      }

      td {
        margin: 0;
        padding: 1rem 0.25rem 1rem 0.25rem;
        vertical-align: top;

        &.checkbox {
          justify-content: center;
          padding-left: 0.5rem;
          padding-right: 1rem;
          white-space: nowrap;
          width: 1px;
        }
      }
    }
  }
}

.data-table-filters {
  margin-bottom: 1rem;

  content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0.5rem 0 0.5rem 0;

    > * {
      margin-right: 1.5rem !important;
    }
  }

  .buttons {
    max-height: 36px;
  }
}

.cache-meta-data {
  display: none;
}

/* === Components === */

.primary-navigation-items {
  align-items: flex-start;
  display: flex;
  flex-flow: column wrap;
  flex-grow: 1;

  article {
    max-width: 33%;

    h5 {
      font-size: 14px;
      font-weight: 600;
      margin: 0 0 8px 0 !important;
    }

    ul {
      font-size: 14px;
      list-style: none;
      margin: 0 0 1.75rem 0;
      padding: 0;
    }
  }
}

.search-resource {

  &.full-width > div {
    width: 100%;
  }
}

.search-summary {

  .link.step {

    .description {
      color: $blue;
    }

    &::after {
      display: none;
    }
  }
}

.filter-form {

  .active .select2-selection {
    border-color: $blue_muted !important;
  }
}

.pagination-container {
  display: flex;
  justify-content: space-between;

  .page-summary {
    align-self: center;
  }

  .pagination {
    font-size: 0.92857143rem;
  }
}

.table-header {
  display: flex;
  justify-content: space-between;

  .table-actions {
    align-self: center;
    display: flex;

    .data-table-columns {
      margin-right: 1rem;
      width: 200px;
    }
  }
}

/* === Components - Notifications === */

.event-log-notification {
  margin-bottom: 1rem !important;
}

/* === Components - Sidebars === */

#sidebar-current-user {
  padding: 1.5rem;
  width: 420px;

  header {
    display: flex;
    justify-content: space-between;
    margin: 0 0 1.5rem 0;

    h3 {
      align-self: center;
      margin: 0;
    }
  }

  .about {
    display: flex;
    margin: 1rem 0;
    justify-content: space-between;

    .user-image {
      background: #e1e2e3;
      border-radius: 0.5rem;
      display: flex;
      flex-grow: 0;
      height: 120px;
      justify-content: center;
      width: 120px;

      .image {
        align-self: center;
        color: #f4f5f5;
        display: flex;
        font-size: 5rem;
        margin: 0 0 0 1rem;

        &:before {
          align-self: center;
          justify-content: center;
        }
      }
    }

    .user-info {
      flex-grow: 1;
      margin: 0 0 0 1rem;

      .full-name {
        margin-bottom: 0;
      }

      .email {
        margin: 0 0 1rem 0;
      }
    }
  }
}

#sidebar-primary-navigation {
  padding: 1.5rem;
  width: 100%;

  header {
    display: flex;
    justify-content: space-between;
    margin: 0 0 1.5rem 0;

    h3 {
      align-self: center;
      margin: 0;
    }
  }

  section {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;

    .primary-navigation-items {
      align-items: center;
      padding-right: 5%;
      padding-left: 5%;

      article {
        width: 100%;
      }
    }
  }
}

/* === Components - Charts === */

.chart-container {
  height: 20rem;
  width: 20rem;

  .apexcharts-legend-text {
    font-weight: 600;
  }

  .apexcharts-datalabel-label {
    font-size: 13px;
    font-weight: 500;
  }

  .apexcharts-datalabel-value {
    font-size: 1.5rem;
    font-weight: 700;
  }

  &.donut-chart-container {
    margin: 0 -2rem -4rem -2.25rem;
  }

  &.radial-chart-container {
    margin: 0 -1.75rem -4rem -2.25rem;
  }
}

/* === Components - Key Value List === */

ul.key-value-list {
  align-items: flex-start;
  display: flex;
  flex-flow: column wrap;
  flex-grow: 1;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: flex;
    flex-direction: space-between;
    line-height: 1em;
    margin: 0 0 0.75rem 0;
    max-width: 30rem;
    min-height: 1em;
    width: 100%;

    .key {
      font-weight: 600;
      margin-right: 1rem;
      width: 9rem;
    }

    .value {
      width: 100%;
    }
  }
}

/* === Components - Status Labels === */

.status-label {
  border-radius: 4px;
  border: 1px solid #e2e2e2;
  display: inline-block;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 10px;
  padding: 0.5rem 0.5rem;
  text-transform: uppercase;

  &.pink {
    border-color: #e03997;
    color: #e03997;
  }

  &.purple {
    border-color: #a333c8;
    color: #a333c8;
  }

  &.violet {
    border-color: #6435c9;
    color: #6435c9;
  }

  &.blue {
    border-color: $status_blue;
    color: $status_blue;
  }

  &.teal {
    border-color: #00b5ad;
    color: #00b5ad;
  }

  &.green {
    border-color: $status_green;
    color: $status_green;
  }

  &.olive {
    border-color: #b5cc18;
    color: #b5cc18;
  }

  &.yellow {
    border-color: $status_yellow;
    color: $status_yellow;
  }

  &.orange {
    border-color: #f2711c;
    color: #f2711c;
  }

  &.red {
    border-color: $status_red;
    color: $status_red;
  }
}

/* === Components - Timeline === */

ul.timeline {
  list-style: none;
  margin: 0;
  padding: 0;

  &>li {
    margin: 0;
    padding: 0;
    position: relative;

    &::before {
      background: #ddd;
      content: "";
      height: 100%;
      left: 1.375rem;
      position: absolute;
      top: 0;
      width: 3px;
    }

    &:last-child::before {
      width: 0px;
    }

    .entry {
      display: flex;
      margin: 0;
      padding: 0;

      .icon-container {
        align-items: center;
        align-self: start;
        background: #fff;
        border-bottom: 0.375rem solid #fff;
        border-top: 0.375rem solid #fff;
        display: flex;
        justify-content: center;
        position: relative;
        width: 3rem;

        .icon-background {
          align-items: center;
          border: 2px solid #ccc;
          border-radius: 100%;
          display: flex;
          height: 1.25rem;
          justify-content: center;
          width: 1.25rem;

          .icon {
            align-self: center;
            font-size: 1rem;
            height: auto;
            margin: 0;
            padding: 0;
          }

          &.blue,
          &.blue .icon {
            border-color: $status_blue;
            color: $status_blue;
          }

          &.green,
          &.green .icon {
            border-color: $status_green;
            color: $status_green;
          }

          &.red,
          &.red .icon {
            border-color: $status_red;
            color: $status_red;
          }

          &.yellow,
          &.yellow .icon {
            border-color: $status_yellow;
            color: $status_yellow;
          }
        }
      }

      .body {
        padding: 0.25rem 0 0.75rem 0.75rem;

        .header {
          padding: 0 0 0.375rem 0;

          .time {
            font-weight: 700;
          }
        }

        .content {
          padding: 0 0 0.375rem 0;

          code {
            color: #888;
          }
        }

        .footer {

          .link {
            font-size: 0.875rem;
          }
        }
      }

      &.with-icon {

        .icon-background {
          height: 2.5rem;
          width: 2.5rem;
        }

        .body {
          padding-top: 0.875rem;
        }
      }
    }
  }
}

/* === Components - Live Sessions === */

.sessions-live {

  ul.user-sessions {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: flex;
      margin: 0 0.5rem 0 0;
    }
  }
}

/* === Components - Comments === */

.comment {
  margin: 2rem 0 0 0;

  header {
    font-size: 1.375rem;
    font-weight: 600;
    line-height: 1.5rem;
    margin: 0 0 1rem 0;
  }

  content *:last-child {
    margin-bottom: 0 !important;
  }

  footer {
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.875rem;
    font-weight: 600;
    margin-top: 1rem;

    .meta {

      .timestamp-relative {
        color: rgba(0, 0, 0, 0.5);
      }
    }

    .actions {

      span::after {
        content: " | "
      }

      span:last-child::after {
        content: ""
      }
    }
  }
}

/* === Components - Inline Fields === */
.ui.form .inline-fields {
  display: flex;
  justify-content: space-between;

  .field {
    margin-right: 1rem;
    width: 100%;
  }

  .field:last-child {
    margin-right: 0;
    width: 100%;
  }
}

/* === Components - Inline Form === */

.inline-form {
  margin: 0 0 0.5rem 0;

  .value {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .label {
      margin: 0 0.5rem 0 0;
    }

    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin: 0 0.5rem 0 0;
      }
    }
  }

  .form {
    display: none;

    content {
      align-items: center;
      display: flex;
      flex-direction: row;

      form {
        align-items: center;
        display: flex;
        flex-direction: row;

        .field {
          margin: 0 5px 0 0;
        }
      }
    }
  }
}

/* === Components - Documentation Page === */

#wiki-page {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  article {
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.5rem;
    padding-right: 2rem;
    width: 100%;

    * {
      max-width: 42rem;
    }

    .resource-tags {
      margin: 0 0 1rem 0;
    }

    p {
      margin: 0 0 1.75rem 0;
    }

    ul p {
      margin-bottom: 0;
    }

    pre {
      border-radius: 4px;
      max-width: 60rem !important;

      code {
        border-radius: 4px;
        font-size: 0.875rem;
        max-width: 60rem !important;
        padding: 1rem;
      }
    }
  }

  aside {
    padding: 0 4rem 0 0;
    position: relative;
    width: 320px;

    nav.page-sections ul {
      font-size: 13px;
      list-style: none;
      margin: 0 0 0 -2rem;
      padding: 0 0 1rem 0;

      li {
        border-left: 4px solid #fff;
        padding: 0 0.5rem 0 calc(2rem - 4px);

        &:last-child {
          padding-bottom: 0;
        }
      }

      li a {
        display: block;
        line-height: 1.25em;
        padding: 4px 0;
      }

      li.tag-H1 a {
        color: rgba(0, 0, 0, 0.70);
        font-size: 1rem;
        font-weight: 600;
      }

      li.tag-H2 a {
        color: rgba(0, 0, 0, 0.70);
        font-size: 1rem;
        font-weight: 600;
      }

      li.tag-H3 a {
        color: rgba(0, 0, 0, 0.70);
        font-weight: 600;
        margin-left: 0.5rem;
      }

      li.tag-H4 a {
        color: rgba(0, 0, 0, 0.70);
        font-weight: 500;
        margin-left: 1rem;
      }

      li.tag-H5 a {
        color: rgba(0, 0, 0, 0.50);
        font-weight: 500;
        margin-left: 1rem;
      }

      li.highlight {
        border-left: 4px solid $purple;

        a {
          font-weight: 700;
          color: rgba(0, 0, 0, 0.95);
        }
      }
    }

    .actions {
      border-top: 1px solid #e2e2e2;
      color: rgba(0, 0, 0, 0.70);
      font-size: 0.875rem;
      font-weight: 600;
      margin: 0;
      padding: 1rem 0 0 0;
    }
  }
}

/* === Components - Related Resources === */

.related-resources {
  margin: 1rem 0 2rem 0;

  .data-table thead tr {
    border-bottom: 1px solid #e2e2e2;
  }

  .data-table th {
    padding-bottom: 0.75rem;
    padding-top: 0.75rem;
  }

  .data-table td {
    padding-bottom: 0.75rem;
    padding-top: 0.75rem;
  }
}
