/* Semantic UI */

body {
  font-family: 'Muli', 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Muli', 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.ui.message {
  margin-bottom: 1.5rem;
}

/* Select 2 */

select {
  height: 38px !important;
}

.select2 {
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif !important;

  .select2-selection {
    border: 1px solid rgba(34, 36, 38, 0.15) !important;
    height: 38px;
  }

  .select2-selection__rendered {
    margin: 4px 0 0 4px;
  }

  .select2-selection__arrow {
    margin: 4px 4px 0 0;
  }

  .select2-selection--multiple {

    .select2-selection__choice {
      background: #fff;
      border: none;
      margin: 0.5rem 0.5rem 0 0;
      padding: 0;
    }

    .select2-selection__rendered {
      padding: 0 1rem;
    }

    .select2-search__field {
      border: none !important;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
}
