/* Full Size */

#primary-header #icon-navigation .search-icon {
  display: none;
}

/* Tablet Breakpoint */

@media only screen and (max-width: 1024px) {

  #primary-header {

    #quick-search {
      display: none !important;
    }

    #icon-navigation .search-icon {
      display: block;
    }

    #user-navigation {
      .content-container {
        padding-left: 0.75rem !important;
        padding-right: 0.75rem !important;

        i.icon {
          margin-right: 0 !important;
        }

        span.user-name {
          display: none;
        }
      }
    }
  }

}
