$blue: #2f87ff;
$blue_muted: #2185d0;
$purple: #e14eca;
$purple_muted: #cf20b5;
$green_text: #20ba44;

$bg_gray: #f0f0f4;

$status_blue: #2185d0;
$status_green: #21ba45;
$status_yellow: #fbbd08;
$status_red: #db2828;

$content_background: #f2f2f8;
